/* SIDEBAR */
.sidebar {
  width: 280px;
  background: #064e03;
  color: #e5ffe7;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -280px;
  height: 100%;
  z-index: 1001;
  transition: 0.3s;
  padding: 20px 16px;
}

.sidebar.active {
  left: 0;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

/* CLOSE BUTTON */
.close-sidebar {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 22px;
  cursor: pointer;
  color: #e5ffe7;
}

/* HEADER */
.sidebar-top {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

.logo-box {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu-label {
  font-size: 11px;
  color: #86efac;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

/* MENU ITEM */
.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;

  text-decoration: none !important;
  color: #ffffff;

  transition: 0.2s ease;
}

/* ICON + TEXT CLEAN */
.menu-item i,
.menu-item span {
  color: inherit;
  text-decoration: none !important;
}

/* HOVER */
.menu-item:hover {
  background: rgba(255, 255, 255, 0.08);
}

/* ACTIVE ROUTE */
.menu-item.active {
  background: #0e7a0a;
  font-weight: 500;
}

/* FOOTER */
.logout {
  margin-top: auto;
  cursor: pointer;
}

.picture-info-separation {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 2px;
  border-radius: 12px;
}

.picture-info-separation:hover {
  background: rgba(255, 255, 255, 0.08);
}

/* IMAGE */
.logo-icon {
  width: 40px;
  border-radius: 10px;
}

/* TEXT */
.logo-text {
  font-size: 13px;
  font-weight: 600;
  color: #e5ffe7;
}

.subtext {
  font-size: 11px;
  color: #a7f3d0;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 2000;
}

.modal-container {
  position: absolute;
  left: 15px;
  bottom: 75px;
  width: 90%;
  max-width: 250px;
  background: #f3f3f3;
  border-radius: 16px;
  padding: 10px 0;
}

/* MODAL ITEM */
.modal-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 18px;
  cursor: pointer;
}

.modal-item:hover {
  background: #e7e7e7;
}

/* LINKS INSIDE MODAL */
.my-account {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

/* LOGOUT */
.logout-item {
  color: #d11a2a;
  text-decoration: none;
  font-size: 13px;
}